<div style="color:#494949">
	<div style="text-align:center">
		<div style="font-size:3rem">
			{{ .page.Params.Title }}
		</div>
		<div>
			{{ .page.Params.Subtitle }}
		</div>
	</div>
	<div style="border:3px solid #7b554a;border-radius:8px;margin-top:20px">
		<img
			src="{{ printf "media/%s" .page.Params.Image | relURL }}"
			alt="{{ .page.Params.Title }}"
			style="float:left;border:2px solid #7b554a;border-radius:8px;margin:30px" />
		<div style="font-size:1.5rem;margin-left:7px;margin-top:70px">
			<p>Commander :</p>
			<p><a href="{{ .page.Params.Amazon }}" target="_blank"><img src="{{ "media/amazon32px.png" | relURL }}" /></a></p>
			{{ if .page.Params.Kindle }}
			<p><a href="{{ .page.Params.Kindle }}" target="_blank"><img src="{{ "media/kindle32px.png" | relURL }}" /></a></p>
			{{ end }}
			{{ if .page.Params.Kobo }}
			<p><a href="{{ .page.Params.Kobo }}" target="_blank"><img src="{{ "media/kobo32px.png" | relURL }}" /></a></p>
			{{ end }}
		</div>
	</div>
	<div style="margin-top:20px">
		ISBN: {{ .page.Params.Isbn }}<br />
		{{ .page.Params.Pages }}&nbsp;pages - {{ .page.Params.Price }}&nbsp;€
	</div>
	<div style="clear:both;font-size:1.5rem;text-align:justify">
		{{ .page.Content }}
	</div>
</div>
