{{ define "main" }}

<!-- <div style="color:#494949"> -->
<div class="purple">
	<div style="text-align:center">
		<div style="font-size:3rem">
			{{ .Params.Title }}
		</div>
		<div>
			{{ .Params.Subtitle }}
		</div>
	</div>
	<!-- <div style="border:3px solid #7b554a;border-radius:8px;margin-top:20px"> -->
	<div style="border:3px solid #7b554a;border-radius:8px;padding:2em;margin-top:1em">
		<div style="float:left;border:2px solid #7b554a;margin-right:2em;">
			<img
				src="{{ printf "media/%s" .Params.Image | relURL }}"
				alt="{{ .Params.Title }}" />
		</div>
		<!-- <div style="font-size:1.5rem;margin-left:7px;margin-top:70px"> -->
		<div style="font-size:1.5rem;">
			<p>Commander :</p>
			<p><a href="https://www.amazon.fr/dp/{{ .Params.Amazon }}" target="_blank"><img src="{{ "media/amazon32px.png" | relURL }}" /></a></p>
			{{ if .Params.Kindle }}
			<p><a href="https://www.amazon.fr/dp/{{ .Params.Kindle }}" target="_blank"><img src="{{ "media/kindle32px.png" | relURL }}" /></a></p>
			{{ end }}
			{{ if .Params.Kobo }}
			<p><a href="https://www.kobo.com/fr/fr/ebook/{{ .Params.Kobo }}" target="_blank"><img src="{{ "media/kobo32px.png" | relURL }}" /></a></p>
			{{ end }}
			<p>
				ISBN: {{ .Params.Isbn }}<br />
				{{ .Params.Pages }}&nbsp;pages - {{ .Params.Price }}&nbsp;
			</p>
			<p><b>
				Si vous préférez commander sans passer par Amazon ou bien si vous êtes libraire&nbsp;:<br />
				<a href="https://liberinvictus.com/contact/" target="_blank">Prenez contact avec nous</a>.
			</b></p>
		</div>
	</div>
	<div style="clear:both;font-size:1.5rem;text-align:justify;margin-top:2em;">
		{{ .Content }}
	</div>
</div>

{{ end }}
